/* .main-page {
  display: relative;
  width: 100%;
  height: 100vh;
} */

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 50px 40px;
  /* background-color: aliceblue; */
}

.sidebar-button-container {
  margin-top: 40px;
  display: flex;
  height: 230px;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-button-container button {
  width: 233px;
  height: 56px;

  border-radius: 16px;
  border: none;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  background: none;
}

.sidebar-button-container .active-sidebar-btn {
  background: linear-gradient(
    97.24deg,
    #1f8ebe -0.43%,
    #440495 58.09%,
    #440495 102.73%,
    rgba(33, 182, 230, 0.628826) 146.25%
  );
}
