* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1a1a1a;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to right, #a123db 0%, rgb(196, 58, 58));
  opacity: 0.5;
}
.App {
  text-align: center;
  color: white;
}
.App .revels {
  margin-top: 35px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff,
    0 0 120px #0ff;
}
button:active,
button:focus {
  outline: none;
}
.glider {
  margin: 0 auto;
  width: 80%;
}
.categories {
  width: 80%;
  margin: 0 auto;
}
.category-list {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
}
.category-list::-webkit-scrollbar {
  height: 5px;
}
.category-list::-webkit-scrollbar-track {
  background: transparent;
}
.category-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
.cat-card {
  background-image: linear-gradient(to right, #a123db 0%, rgb(196, 58, 58));
  opacity: 45%;
  padding: 0 1rem;
  height: 100px;
  min-width: 200px;
  white-space: pre-wrap;
  border-radius: 10px;
  margin: 0 5px;
  transition: 0.4s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 600px) {
  .cat-card {
    height: 80px;
    width: 100px;
    padding: 0 0.2rem;
  }
}
.cat-card p {
  font-size: 1.3rem;
}
.cat-card:hover {
  transform: scale(1.04);
}
.active {
  background-image: linear-gradient(to right, #9925cf 0%, rgb(196, 56, 56));
  color: white;
  opacity: 100%;
  font-weight: bold;
  margin: 0 15px;
  transform: scale(1.1);
}
.active:hover {
  margin: 0 15px;
  transform: scale(1.1);
}
.category-info {
  width: 100%;
  padding: 10px 0;
  text-align: left;
}
.video-desc h3 {
  font-size: 1.9rem;
  margin: 10px 0px;
}
.video-desc {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.video {
  height: 450px;
  width: 50%;
}
.desc {
  align-self: flex-start;
  width: 50%;
  padding: 1.5rem;
}
.desc p {
  font-size: 1.15rem;
  color: #a1a5a1;
}
@media (max-width: 830px) {
  .categories {
    width: 96%;
  }
  .video-desc {
    flex-flow: column nowrap;
  }
  .video-desc h3 {
    font-size: 1.5rem;
    margin: 5px 0;
  }
  .video {
    width: 100%;
    height: 300px;
  }
  .desc {
    padding: 5px;
    width: 97%;
  }
  .desc p {
    font-size: 1rem;
    text-align: justify;
  }
}
@media (max-width: 830px) {
  .glider {
    width: 98%;
  }
}
.heading {
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(to right, #b721ff 0%, red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 20px 0;
  letter-spacing: 1px;
}
.htitle {
  margin-top: 20px;
  text-transform: none;
  font-weight: 600;
  background: linear-gradient(to right, #b721ff, #fff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.htitle::after {
  content: "";
  width: 20%;
  height: 3px;
  background: linear-gradient(to right, #b721ff 0%, red 100%);
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0.7;
  transform-origin: left center;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: scaleX(1);
  border-radius: 10px;
}
.av::after {
  content: "";
  width: 25%;
  height: 3px;
  background: linear-gradient(to right, #b721ff 0%, red 100%);
  position: absolute;
  right: 0;
  left: 75%;
  opacity: 0.7;
  transform-origin: right center;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: scaleX(1);
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 350px) {
  .heading {
    font-size: 30px;
  }
}

/* Carousel/Glider custom styling */
.rec.rec-arrow {
  background-color: transparent;
  border-radius: 50%;
  color: white;
}
.rec.rec-arrow:focus:enabled {
  background-color: black;
  border-radius: 50%;
}
.rec.rec-arrow:enabled {
  background-color: black;
  border-radius: 50%;
}
.rec.rec-arrow:enabled:hover {
  background-color: #343434;
  border-radius: 50%;
}
/* .rec.rec-arrow:disabled {
  visibility: hidden;
} */
button.rec-dot {
  background-color: #343434;
  box-shadow: 0 0 1px 3px rgba(2, 7, 2, 0.5);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(57, 255, 20, 0.8);
}

/* BlackList Text Section */
.blacklist-text {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  letter-spacing: 1px;
}
.blacklist-text p {
  font-size: 15px;
  color: #848884;
}
.blacklist-text br {
  margin: 10px 0;
}

/* Registration Form */
.login-form {
  width: 80%;
  margin: 0 auto;
}
.login-form .row {
  display: flex;
  color: white;
}
@media screen and (max-width: 830px) {
  .login-form .row {
    flex-direction: column;
  }
}

.login-form .row .user-box {
  position: relative;
  flex: 50%;
  margin: 0 10px;
}

.row .user-box input,
select {
  width: 99%;
  padding: 10px 5px;
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.row .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: darkgray;
  pointer-events: none;
  transition: 0.5s;
}

.row .user-box input:focus ~ label {
  top: -20px;
  left: 0;
  color: #696969;
  font-size: 12px;
}
.row .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #696969;
  font-size: 12px;
}

.row .user-box input,
select {
  -o-border-image: linear-gradient(to right, #b721ff 0%, red 100%);
  border-image: linear-gradient(to right, #b721ff 0%, red 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #b721ff 0%, red 100%);
  border-image-slice: 1;
  -webkit-border-image-slice: 1;
}
.slots select,
.slots-in {
  margin-top: 25px;
}
.btn {
  padding: 0.5rem 2rem;
  margin: 25px 0;
  text-align: center;
  color: white;
  border: 1px solid #fff;
  background-color: black;
}
.btn:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Cards */
.card {
  display: flex;
  height: 500px;
  width: 400px;
  background-color: #17141d;
  border-radius: 10px;
  /* box-shadow: -1rem 0 3rem #000; */
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin: 0 auto;
  color: white;
  flex-direction: column;

  font-size: 1.5rem;
}

.card hr {
  width: 80%;
  margin: 0 auto;
}
.card h3 {
  margin: 15px 0;
  background: linear-gradient(to right, #fb7ba2, #fce043);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.card-text {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 600px) {
  .card {
    height: 500px;
    font-size: 2rem;
  }
  .card-text p {
    font-size: 15px;
  }
}

/* Footer Section */
.footer {
  background-color: black;
  color: white;
}
.footer .logo {
  margin: 0 auto;
  padding-top: 20px;
  width: 50%;
}
.footer img {
  width: 100%;
}
.footer p {
  padding-bottom: 15px;
  font-size: 15px;
  color: darkgray;
}
.icons .fa {
  size: 40px;
  margin: 0 13px;
  cursor: pointer;
  padding: 15px 0;
}
.fa-facebook {
  color: rgb(66, 103, 178);
}
.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

@media (max-width: 700px) {
  .footer .logo {
    width: 80%;
  }
}
option {
  background-color: black;
}
.loading {
  text-align: center;
  color: white;
}

.tab-container {
  margin: 1rem;
}
.tab-container .tab {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.category-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.Categories {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.tooltip-btn {
  padding: 1rem;
  background-color: #17141d;
  border-radius: 5px;
}
.tooltip-btn:hover {
  cursor: pointer;
}
.sc {
  position: relative;
  bottom: 250px;
  left: 0;
  height: 200px;
  width: 200px;
  object-fit: contain;
  z-index: 1111;
  opacity: 0.1;
  border-radius: 40px;
}
.copyrights {
  margin-bottom: 10px;
}
.copyrights span {
  font-weight: bold;
  font-size: 15px;
  position: relative;
}
.copyrights span::after {
  content: "";
  height: 2px;
  background: linear-gradient(to right, #fb7ba2, #fce043);
  position: absolute;
  right: 0;
  left: 0;
  bottom: -6px;
  opacity: 0;
  transform-origin: center;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: scaleX(0);
}
.copyrights:hover span::after {
  transform: scaleX(1);
  opacity: 1;
}
.desc span {
  font-weight: bold;
  font-size: 2rem;
  position: relative;
}
.desc span::after {
  content: "";
  width: 85%;
  height: 3px;
  background: linear-gradient(to right, #b721ff 0%, red 100%);
  position: absolute;
  right: 0;
  left: 0;
  bottom: -2px;
  opacity: 0;
  transform-origin: left center;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: scaleX(0);
  border-radius: 10px;
}
.desc:hover span::after {
  transform: scaleX(1);
  opacity: 1;
}
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/exo2/v18/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsOdC6.ttf)
    format("truetype");
}
.cul {
  text-decoration: blink;
  -webkit-animation-name: blink;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  text-align: center;
  margin: 13rem auto;
}
@media (max-width: 600px) {
  .cul {
    margin: 50px auto;
    font-size: 4rem !important;
  }
}
@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  79% {
    color: inherit;
    text-shadow: inherit;
  }
  80% {
    color: #333;
    text-shadow: none;
  }
  80.5% {
    color: inherit;
    text-shadow: inherit;
  }
  81% {
    color: #333;
    text-shadow: none;
  }
  81.5% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  82.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
.cul {
  font: 100 5em "Exo 2";
  color: #fff;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4ff, 0 0 0.5em #4ff,
    0 0 0.1em #4ff;
}
.cul b {
  animation: blink linear infinite 5s;
  font: inherit;
}
.toggle-option {
  display: flex;
}
.toggle-option button {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 5px 15px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}
.cul-desc {
  font-size: 2rem;
  padding: 50px;
}
@media (max-width: 700px) {
  .cul-desc {
    padding: 10px;
    font-size: 1.4rem;
  }
}
.disabled {
  background: #333;
}

.cat-closed {
  opacity: 0.4;
  cursor: not-allowed !important;
}
.cul p {
  margin-top: 10px;
  font-size: 1rem !important;
  font-weight: 500;
}
