@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.gentokens-page {
  width: 100%;
  height: 100vh;
  background-color: #080808;
  
  /* align-items: center; */
  
  padding-top: 40px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}

.list-container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;

  color: #ffffff;
}

.tab-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 100px;
  background-color: #080808;
}
.tab-menu button {
  background-color: #080808;
  border-radius: 36px;
  padding: 5px 10px;
  color: #ffffff;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.active {
  background: #606692;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.search-container p {
  margin-bottom: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 22px;
}
.search-container button {
  width: 128px;
  height: 41.31px;
  left: 1151px;
  top: 471px;

  background: #18acff;
  border-radius: 7px;
  border: none;
}
.container {
  padding-top: 30px;
  width: 300px;
  margin: auto;
  
}

.input {
  padding: 5px 15px;
  width: 300px;
  height: min-content;
}

.user-list {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.user {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  
  
}

.user-id {
  color: red;
  margin-right: 20px;
}

.user-name {
  color: blue;
}

.user-age {
  margin-left: auto;
}