.history-container {
    background: #08080a;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 1);
}

.table {
    margin-top: 2em;
    color: white;
    text-align: center;
    /* background: #000; */
}


/* .table-holder {
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #fff;
}

.fl-table {
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table th {
    font-size: 22px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
} */