.history-container {
    width: 100%;
    height: 100vh;
    background-color: #080808;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 100px;
    overflow: hidden;
  }
  .table-holder {
    width: 70%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color: #fff; */
    color: #fff;
  }
  
  .fl-table {
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    /* background-color: white; */
  }
  
  .fl-table td,
  .fl-table th {
    text-align: center;
    padding: 8px;
  }
  
  .fl-table th {
    font-size: 22px;
  }
  
  .fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
  }
  