.login-page {
  font-size: 2rem;
  padding: 3rem;
}
.admin {
  margin: 1rem;
  color: white;
  text-align: center;
}
.person {
  border: solid 1px white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
.person .btn {
  margin-right: 2rem;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.studentdetails {
  margin: 20px auto;
  text-align: left;
  width: 80%;
  background-color: #17141d;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  color: darkgray;
}
.studentdetails-col {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.popUpD {
  display: block;
}
.popUpM {
  display: none;
}
@media (max-width: 600px) {
  .studentdetails {
    flex-direction: column;
  }
  .popUpD {
    display: none;
  }
  .popUpM {
    display: block;
  }
}

.studentdetails h4 {
  color: white;
}
.status-btn {
  display: flex;
  justify-content: space-evenly;
}
.btns {
  padding: 0.5rem 2rem;
  margin: 25px 0;
}
.btns:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.selected {
  background-color: transparent;
  color: green;
  border: 1px solid green;
}
.rejected {
  background-color: transparent;
  color: red;
  border: 1px solid red;
}
.email {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.in {
  background-color: green;
  color: white;
  border-radius: 10px;
  cursor: none;
  border: none;
}
.out {
  background-color: red;
  color: white;
  border-radius: 10px;
  cursor: none;
  border: none;
}
.col1 {
  text-align: left;
}
.slot-input {
  padding: 0.5rem;
  background-color: black;
  color: white;
  margin-right: 1rem;
}

.download a {
  color: darkgray;
  text-decoration: none;
}

.studentdetails-col button {
  border-radius: 5px;
}
.studentdetails-col .popUpExp {
  cursor: pointer;
  margin: 10px 0;
  padding: 5px 30px;
  width: fit-content;
  font-weight: 700;
  box-shadow: none;
  border: 1px solid #fff;
  background-color: #17141d;
  color: #fff;
}
.studentdetails-col .popUpExp:hover {
  background-color: #fff;
  color: #17141d;
}
